 <!-- No of stops view -->
      <div id="NoOfStops">
        <div class="row">
           <div class="col-sm-3 col-md-3 col-xs-1"></div>
           <div class="col-sm-6 col-md-6 col-xs-10">
             <div class="panel panel-primary">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-xs-6"><h4 class="text-left">Number of Stops</h4></div>
                    <div class="col-sm-6 col-md-6 col-xs-6"><h4 class="text-right">Date:12.2.15</h4></div>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table text-center">
                    <thead>
                      <tr>
                        <th class="text-center">Stop No</th>
                        <th class="text-center">Calculated Time</th>
                        <th class="text-center">From System Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>10.12</td>
                        <td>12.12</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
             </div>
           </div>
           <div class="col-sm-3 col-md-3 col-xs-1"></div>
         </div>
         <div class="row">
          <div class="col-sm-3 col-md-3 col-xs-1"></div>
          <div class="col-sm-6 col-md-6 col-xs-10">
            <button back type="button" class="btn btn-primary btn-lg">Back</button>  
          </div>          
          <div class="col-sm-3 col-md-3 col-xs-1"></div>
         </div>
       </div>